@import "variables";
@import "mixins";

// Apply Light Theme
.light-mode {
  @include apply-theme($light-theme-colors);
}

// Apply Dark Theme
.dark-mode {
  @include apply-theme($dark-theme-colors);
}

body {
  font-family: "Arial, sans-serif";
  margin: 0;
  padding: 0;
}
