<header class="header">
  <div class="logo">E.shop</div>
  <nav>
    <ul>
      <li><a href="">Home</a></li>
      <li><a href="/products">Products</a></li>
      <li><a href="/about">About</a></li>
      <img
        src="assets/icon-moon.svg"
        alt="Moon Icon"
        *ngIf="!isDarkMode"
        (click)="toggleMode()"
      />

      <img
        src="assets/icon-sun.svg"
        alt="Sun Icon"
        *ngIf="isDarkMode"
        (click)="toggleMode()"
      />
    </ul>
  </nav>
</header>
