@use "../../styles/abstract/variable";
@use "../../styles/abstract/functions";
@use "../../styles/abstract/mixins";
@use "../../styles/components/buttons";

.about-us {
  padding: functions.scale-spacing(1);

  .about-hero {
    text-align: center;
    margin-bottom: functions.scale-spacing(3);

    h2 {
      font-size: functions.px-to-rem(32px);
      margin-bottom: functions.scale-spacing(1);
      color: inherit;
    }

    p {
      font-size: functions.px-to-rem(18px);
      max-width: 600px;
      margin: 0 auto;
      line-height: 1.6;
      color: inherit;
    }
  }

  .about-content {
    @include mixins.flex-center(row, center, center);
    flex-wrap: wrap;
    gap: functions.scale-spacing(2);
    background-color: inherit;

    .mission,
    .story,
    .team {
      background-color: inherit;
      border: 1px solid variable.$border-color;
      border-radius: functions.px-to-rem(8px);
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      padding: functions.scale-spacing(2);
      width: 220px;
      height: 380px;
      overflow: hidden;

      h2 {
        font-size: functions.px-to-rem(24px);
        margin-bottom: functions.scale-spacing(1);
        color: inherit;
      }

      p {
        font-size: functions.px-to-rem(16px);
        line-height: 1.6;
        color: inherit;
      }
    }
  }
}
