@use "../src/app/styles/abstract/variable";
@use "../src/app/styles/abstract/functions";
@use "../src/app/styles/abstract/mixins";

@mixin apply-theme($theme) {
  background-color: map-get($theme, background);
  color: map-get($theme, text);

  a {
    color: map-get($theme, link);

    &:hover {
      color: functions.adjust-color(map-get($theme, link), -10%);
    }
  }

  .header,
  .slider-container,
  .product-card,
  .about-content,
  .about-us,
  .footer {
    background-color: map-get($theme, background);
    color: map-get($theme, text);
    border-color: map-get($theme, border);
  }

  .slider-item,
  .product-card {
    background-color: map-get($theme, accent);
    border: 1px solid map-get($theme, border);

    h3,
    h2,
    p,
    li,
    span,
    .button {
      color: map-get($theme, text);
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  span,
  li,
  a {
    color: map-get($theme, text);
  }
}

body {
  @include apply-theme(variable.$light-theme-colors);
}

body.dark-mode {
  @include apply-theme(variable.$dark-theme-colors);
}
