<h2>New Arrivals</h2>

<div *ngIf="sliderItems.length > 0; else loading">
  <div class="slider-container">
    <div *ngFor="let item of sliderItems" class="slider-item">
      <img [src]="item.imageUrl" [alt]="item.title" />
      <h3>{{ item.title }}</h3>
      <p>{{ item.description }}</p>
      <button class="button primary">Quick View</button>
    </div>
  </div>
</div>

<ng-template #loading>
  <p>Loading new arrivals...</p>
</ng-template>

<p *ngIf="errorMessage" class="error">{{ errorMessage }}</p>
